.individual-review-container{
    display: flex;
    align-items: flex-start;
}

.interview-date-container{
    font-size: 15px;
    margin-top: -1.5em;
    
}

.interview-title{
    font-size: 25px;
    font-weight: 900;
    line-height: 32px;
    color: rgb(24, 97, 191);
}

.interview-icons-container{
    display: flex;
    flex-direction: row;
}

.interview-offer-container, .interview-experience-container,
.interview-difficulty-container{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-left: 0px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.interview-check, .interview-minus, .interview-x{
   
}

.interview-check{
    color: #0caa41;
    font-size: 40px;
}

.interview-minus{
    color: #ea7600;
    font-size: 40px;
}

.interview-x{
    color: #d93e30;
    font-size: 40px;
}

.anonymous{
    font-size: 15px;
    line-height: 20px;
    margin-top: 1rem;
}

.interview-process-title{
    color: #505863;
    font-weight: bold;
    margin-bottom: 1rem;
}

.interview-experience-container{
    margin-top: 1rem;
}




