.company-show-nav {
    width: 95%;
    height: 17rem;
    box-shadow: 0 1px 1px 1px rgb(127 127 127 / 30%);
    border-radius: 2px;
    position: relative;
}

* {
    font-family: 'Lato', sans-serif;
}
.company-show-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.company-show-outter-container{
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.company-show-banner {
    height: 6rem;
}

.company-show-banner img{
    height: 100%;
    width: 100%;
}

.company-show-logo {
    position: absolute;
    top: 3rem;
    left: 2.2%;
    width: 100px;
    
}

.company-show-logo img {
    height: 100%;
    width: 92%;
    border: 1px solid #dedede;
}

.company-show-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

.company-show-name {
    position: absolute;
    margin-top: 1rem;
    font-weight: bolder;
    color: #0d0d0d;
    font-size: 32px;
    line-height: 26px;
    margin-left: 9rem;
}

.company-show-bottom-menu {
    bottom: 0;
   
    position: absolute;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-show-menu-right {
    /* border: solid blue; */
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

.company-show-menu-left {
    display: flex;
    height: 100%;
    width: 26%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -1rem;
    font-size: 18px;
    color: #1861bf
}

.company-show-menu-right *{
    cursor: pointer;
    
}

.company-show-menu-right *:hover{
    background-color: #f1f2f2;
}

.company-show-menu-left div{
    cursor: pointer;
    transition: background-color .3s linear;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;

}

.company-show-menu-left div:hover{
    background-color: #f1f2f2;
}

.company-show-menu-left p {
    margin-bottom: 1rem;
    color: #404040;
}



.company-show-reviews {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    border-bottom: solid #0caa41;
   
}

.company-show-jobs {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-show-overview {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.company-show-add-review {
    height: 44%;
    width: 44%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
    background-color: #1861bf;
    color: #fff;
    transition: background-color .25s cubic-bezier(0, 0.9, 0.5, 1);
    font-size: 20px;
    margin-right: 1rem;
}

.company-show-add-review:hover {
    background-color: #1d4f90;
    transition: background-color .25s cubic-bezier(0, 0.9, 0.5, 1);

}

.company-show-add-review-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    
}

.company-show-add-review-div:hover {
    background-color: #1d4f90;
    transition: background-color .25s cubic-bezier(0, 0.9, 0.5, 1);
    
}

.add-review-text:hover {
    background-color: #1d4f90;
    transition: background-color .25s cubic-bezier(0, 0.9, 0.5, 1);
}

.company-show-add-review span {
    font-size: 39px;
    font-weight: 400;
    
}

.company-show-add-review span:hover {
    background-color: #1d4f90;
}


.company-show-break {
    height: 75%;
    width: 2.5px;
    background: #eaeaea;
}

.company-show-follow {
    border-color: rgb(24, 97, 191);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 97, 191);
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    min-width: 88px;
    padding: 0px;
    position: relative;
    transition: color 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
    display: flex;
    height: 44%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 1rem;
}

.company-show-follow:hover{
    background-color: rgb(24, 97, 191);
    color: white;
}

.company-overview-container {
    width: 100%;
    height: 20%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(80, 88, 99);
    font-size: 20px;
    line-height: 24px;
}

.company-overview-box {
    
    width: 95%;
    border: 1px solid #c4c7cc;
    box-shadow: 0px 0px 2px 0px #c4c7cc;
    border-radius: 2px;
    padding: 2rem;

}

.company-overview-header {
    font-size: 27px;
    font-weight: 600;
    line-height: 50px;
    color: #20262e;
 
}

.company-attributes-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.left-attributes-container{
    display: flex;
    
    justify-content: space-between;
    width: 30%;
    justify-self: flex-start;
    margin-right: 15rem;
    line-height: 3rem;
}

.right-attributes-container {
    display: flex;
    
    justify-content: space-between;
    width: 35%;
    line-height: 3rem;

}

.company-attribute-titles-left{
    font-weight: 600;
    color: #505863
}

.company-attribute-titles-right{
    font-weight: 600;
    color: #505863
}

.company-show-about {
    line-height: 180%;
}

.no-company-found{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
}

.company-show-reviews-container {
    width: 100%;
    height: 20%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(80, 88, 99);
    font-size: 20px;
    line-height: 24px;
}

.individual-review-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.update-review-button {
    width: fit-content;
    height: fit-content;
    font-size: 32px;
    background-color: transparent;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    color: #20262e;
}

.update-review-button:hover{
    color: #0caa41;
}

.delete-review-button:hover{
    color: #0caa41;
}

.show-button-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.delete-review-button {
    width: fit-content;
    height: fit-content;
    font-size: 32px;
    background-color: transparent;
    margin-left: 1rem;
    cursor: pointer;
    border: none;
    color: #20262e;
}

.company-show-reviews-box {
    width: 95%;
    border: 1px solid #c4c7cc;
    box-shadow: 0px 0px 2px 0px #c4c7cc;
    border-radius: 2px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.company-attached{
    width: 95%;
    border: 1px solid #c4c7cc;
    box-shadow: 0px 0px 2px 0px #c4c7cc;
    border-radius: 2px;
    padding: 2rem;
}

.rating-stars {
    
    width: fit-content;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    color: rgb(80, 88, 99);
    font-size: 19px;
    line-height: 24px;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.individual-review-container p {
    margin-bottom: 1rem;
    width: fit-content;
}

.review-headline{
    color: rgb(24, 97, 191);
    font-size: 24px;
    font-weight: 900;
}

.individual-review-container .pro-con-advice-header {
    color: #20262e;
    margin-bottom: 0rem;
}

.reviews-main-header-stars{
    display: flex;
    width: 100%;
    justify-content: center;
    height: fit-content;
}

.reviews-main-header-stars h1 {
    margin-right: 1rem;
    color: #0caa41;
    font-weight: 700;
    font-size: 32px;
}


