.add-form-outter-container{
    background-color: #EAEAEA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.add-form-box-container{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-top: 2rem;
}

.add-form-form-container{
    width: 60%;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgb(127 127 127 / 30%);

}

.add-form-rules-container{
    width: 35%;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px rgb(127 127 127 / 30%);
    background-color: #FFFFFF;
    padding: 2rem;

}

.add-form-header{
    font-size: 31px;
    line-height: 36px;
    font-weight: 900;
    color: #20262e;
    margin-bottom: 1rem;
}

.add-form-minute{
    margin-bottom: 1rem;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #20262e;
}

.overall-rating{
    margin-bottom: 2rem;
}

.add-form-logo{
    margin-bottom: 2rem;
}

.current-employee-label{
    display: flex;
    flex-direction: column;
}

.current-employee-input-container{
    font-size: 20px;
    line-height: 24px;
    color: #505863;
    padding-top: 1rem;
    width: 46%;
}

.current-employee-input-container label{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.former-employee-input-container{
    font-size: 20px;
    line-height: 24px;
    color: #505863;
    padding-top: 1rem;
    width: 46%;
}

.former-employee-input-container label{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.employee-radios-container{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.employee-radios-container *{
    cursor: pointer;
   
}


.add-form-drop{ 
    width: 60%;
    border-radius: 3px;
    border-color: #858c94;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: rgb(80, 88, 99);
    font-size: 24px;
}

.add-form-status-container{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

 .add-form-drop:focus{
    border: solid 1px #2aabde;
    box-shadow: 0 0 0 2px #86d7f7;
    outline: none;
}


.add-form input:focus{
    border: solid 1px #2aabde;
    box-shadow: 0 0 0 2px #86d7f7;
    outline: none;
}

.add-form input {
    width: 100%;
    border-radius: 3px;
    height: 40px;
    margin-top: 1rem;
    border: 1px solid #858c94;
    font-size: 18px;
    color:#505863;
}

.add-form textarea:focus{
    border: solid 1px #2aabde;
    box-shadow: 0 0 0 2px #86d7f7;
    outline: none;
}

.add-form textarea{
    border-radius: 3px;
    border-color: #858c94;
    font-size: 18px;
    width: 100%;
    margin-top: 1rem;
    color:#505863;

}

.add-form-job-title-container{
    margin-top: 2rem;
}

.add-form-job-title-container label{
    margin-top: 2rem;
}

.add-form-job-title-container input{
    
}

.add-form-headline-container{
    margin-top: 2rem;
}

.add-form-pros-container{
    margin-top: 2rem;
}

.add-form-cons-container{
    margin-top: 2rem;
}

.add-form-advice{
    margin-top: 2rem;
}

.employee-radios-container input{
    cursor: pointer;
    height: 20px;
    width: 20px;
   margin: 0;
}

.add-form-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    height: fit-content;
}

.add-form-button-container button{
    height: 40px;
    border-color: transparent;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background-color: #1861bf;
    color: #fff;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    min-width: 150px;
    padding: 0;
    position: relative;
    -webkit-transition: color 0.2s ease-out,background-color 0.2s ease-out;
    transition: color 0.2s ease-out,background-color 0.2s ease-out;
}

.add-form-button-container button:hover{
    background-color: #1d4f90;
    transition: background-color .25s cubic-bezier(0, 0.9, 0.5, 1);
}

.add-form-rules-container{
    line-height: 30px;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 500;
}
.rules-header{
    font-size: 26px;
    line-height: 36px;
    font-weight: 900;
    color: #20262e;
    margin-bottom: 1rem;
}

.add-form-thanks{
   
}

.add-form-guidelines{
    font-weight: bold;
    margin-bottom: 1rem;
}

.add-form-rules{
    margin-bottom: 1rem;
}

.add-form-rules li{
    list-style: inside;
}

.add-form-rules-ending{

}


