a {
    text-decoration: none;
}
.nav-bar{
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 1;
    box-shadow: inset 0 -1px 0 0 #dee0e3;
}
.right-side {
    color: #505863;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-side > div {
    height: 50%;
    width: 8%;
    margin-right: 5%;
    
}

.profile-icon:hover{
    fill: #0caa41;
    cursor: pointer;
    color: #0caa41;
}

.right-side div:hover {
    cursor: pointer;
    fill: #0caa41;
}

svg.profile-icon {
    height: 100%;
    width: 100%;
  
}

.left-side {
    color: #0caa41;
    font-weight: bolder;
    font-family: "Lato",sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    

}

.left-side a{
    color: #0caa41;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: 2%;
    font-weight: bolder;
}

.nav-bar * {
display: flex;
width: 33%;
height: 100%;

}

.personal-links {
    justify-content: space-around;
    flex-direction: row;
    
    /* width: 33%; */
   height: 100%;
}

.personal-links div {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    
}

.gitHub {
    margin-right: -45%;
}

.portfolio{
    margin-left: -45%;
}

.personal-links div > a {
    height: 100%;
    width: 100%;
    font-size: x-large;
    color: #505863;
    cursor: pointer;
    
}

.personal-links div > a:hover{
    fill: #0caa41;
    color: #0caa41;
}

.nav-modal-container{
    position: relative;
}

.nav-modal-container:hover .nav-modal{
    display: flex;
    flex-direction: column;
}
.nav-modal{
    position: absolute;
    display: none;
    height: 75px;
    width: 200px;
    top: 100%;
    right: 0%;
    transition: box-shadow 240ms cubic-bezier(0.2, 0, 0.38, 0.9) 0s;
    page-break-inside: avoid;
    box-shadow: rgb(133 140 148 / 40%) 0px 8px 10px, rgb(196 199 204) 0px 0px 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
}

.nav-modal:hover + .profile-icon{
    fill: #0caa41;
    color: #0caa41;

}

.nav-modal button{
    width: fit-content;
    background-color: #fff;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;


}

.nav-modal button:hover{
    cursor: pointer;
    background-color: #dee0e3;
}

